*.classpath
*.project

/HomeWork1/bin/
/HomeWork1/.settings/

/HomeWork2/bin/
/HomeWork2/.settings/

/HomeWork3/bin/
/HomeWork3/.settings/

/HomeWork4/bin/
/HomeWork4/.settings/

/HomeWork5/bin/
/HomeWork5/.settings/


/HomeWork6/bin/
/HomeWork6/.settings/

/HomeWork7/bin/
/HomeWork7/.settings/

/HomeWork8/bin/
/HomeWork8/.settings/

/HomeWork9/bin/
/HomeWork9/.settings/

# Log file
*.log

# BlueJ files
*.ctxt
/new/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
